@use "utilities/colors";
@use "utilities/fonts";
@use "utilities/general";
@use "utilities/mixins";

.custom-label {
  display: flex;
  align-items: center;
  position: relative;

  cursor: pointer;

  &::before {
    content: "";
    box-sizing: border-box;
    border: 1px solid colors.$border;
    left: 0;

    width: 30px;
    height: 30px;
    margin-right: 15px;

    @media (min-width: general.$breakpoint-tablet) {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }

  &:hover::before {
    border-color: colors.$input-border-hover;
  }

  &--radio::before {
    border-radius: 50%;
  }
}

.custom-input:checked + .custom-label::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
}

.custom-input:checked + .custom-label--radio::after {
  width: 13px;
  height: 13px;
  background-color: colors.$main-color;
  border-radius: 50%;
  top: center;
  left: 9px;

  @media (min-width: general.$breakpoint-tablet) {
    width: 18px;
    height: 18px;
    left: 12px;
  }
}

.custom-input:checked + .custom-label--checkbox::after {
  width: 17px;
  height: 10px;

  border-left: 2px solid colors.$main-color;
  border-bottom: 2px solid colors.$main-color;

  top: 7px;
  left: 7px;

  transform: rotate(-45deg);

  @media (min-width: general.$breakpoint-tablet) {
    width: 23px;
    height: 13px;
    top: 10px;
    left: 9px;
  }
}

.custom-input:disabled + .custom-label--checkbox {
  opacity: 30%;
}
