@use "utilities/fonts";
@use "utilities/general";
@use "utilities/colors";
@use "utilities/mixins";

.product-additional {
  display: grid;
  grid-template-columns: 1fr;

  border-top: 1px solid colors.$border;

  &:last-child {
    border-bottom: 1px solid colors.$border;
  }

  padding: 13px 0 18px 0;
  box-sizing: border-box;

  @media (min-width: general.$breakpoint-tablet) {
    grid-template-columns: 1fr 1fr;

    padding: 26px 37px;
    border-left: 1px solid colors.$border;
    border-right: 1px solid colors.$border;
  }

  @media (min-width: general.$breakpoint-desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    padding: 0;
    border-left: none;
    border-right: none;
  }
}

.product-additional__heading {
  @include fonts.set-font("Oswald", 400, 16px, 16px, uppercase, none, colors.$text-main);

  margin: 0;

  grid-column: 1 / -1;

  @media (min-width: general.$breakpoint-tablet) {
    font-size: 20px;
    line-height: 20px;

    grid-column: 1 / 2;
    // grid-row: 1 / 2;
  }

  @media (min-width: general.$breakpoint-desktop) {
    grid-column: 1 / 2;
    align-self: center;
  }
}

.product-additional__properties {
  grid-column: 1 / -1;
  // grid-row: 2 / 3;
  align-self: center;

  border-spacing: 0;

  margin-top: 15px;

  @media (min-width: general.$breakpoint-tablet) {
    // grid-column: 1 / -1;
    grid-column: 2 / -1;
    margin: 0;
  }

  @media (min-width: general.$breakpoint-desktop) {
    grid-column: 2 / 3;
  }
}

.product-additional__property {
  grid-column: 1 / -1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include fonts.set-font("Arial", normal, 14px, 14px, none, none, colors.$text-main);

  @media (min-width: general.$breakpoint-tablet) {
    font-size: 16px;
    line-height: 16px;

    justify-content: flex-end;
  }

  @media (min-width: general.$breakpoint-desktop) {
    font-size: 16px;
    line-height: 16px;

    justify-content: space-between;
  }
}

.product-additional__property-header,
.product-additional__property-value {
  font-weight: normal;
  padding: 0;
}

.product-additional__property-value {
  @media (min-width: general.$breakpoint-tablet) {
    margin-left: 55px;
  }
}


.product-additional__button {
  grid-column: 1 / -1;
  // grid-row: 3 / 4;
  // height: auto;

  margin-top: 13px;

  @media (min-width: general.$breakpoint-tablet) {
    // grid-column: 1 / -1;
    // grid-row: 4 / 5;

    margin-top: 25px;
  }

  @media (min-width: general.$breakpoint-desktop) {
    grid-column: 3 / 4;
    margin: 0;
  }
}
