@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@mixin set-font(
  $font-family: Arial,
  $font-weight: normal,
  $font-size: 14px,
  $line-height: 18px,
  $text-transform: none,
  $text-decoration: none,
  $color: #000000
) {
  font-family: $font-family, "Arial", sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: $text-transform;
  text-decoration: $text-decoration;
  color: $color;
}
