@use "utilities/colors";
@use "utilities/general";
@use "utilities/fonts";

img {
  max-width: 100%;
  height: auto;
}

.page__body {
  min-width: 320px;
  min-height: 100%;

  position: relative;

  margin: 0 auto;

  background-color: colors.$background-main;

  @include fonts.set-font("Arial", normal, 14px, 18px, none, none, colors.$text-main);

  @media (min-width: general.$breakpoint-tablet) {
    @include fonts.set-font("Arial", normal, 16px, 24px, none, none, colors.$text-main);
  }

  @media (min-width: general.$breakpoint-desktop) {
    /* изменить? */
    width: general.$breakpoint-desktop;
  }
}

.section-heading {
  @include fonts.set-font("Oswald", 400, 36px, 40px, none, none, colors.$text-main);

  @media (min-width: general.$breakpoint-tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.section-description {
  @include fonts.set-font("Oswald", 400, 14px, 18px, uppercase, none, colors.$text-main);

  @media (min-width: general.$breakpoint-tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.heading-secondary {
  @include fonts.set-font("Oswald", 400, 24px, 26px, none, none, colors.$text-main);

  display: flex;
  align-items: center;
  // width: 100%;

  margin-bottom: 33px;

  &::before,
  &::after {
    content: "";
    height: 2px;
    background-color: colors.$main-color;
  }

  &::after {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: calc(general.$padding-mobile * -1);
  }

  @media (min-width: general.$breakpoint-tablet) {
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      width: general.$padding-tablet;
      position: absolute;
      left: 0;
    }

    &::after {
      margin-left: 40px;
      margin-right: calc((general.$padding-tablet + general.$padding-form-tablet) * -1);
    }
  }

  @media (min-width: general.$breakpoint-desktop) {
    &::before {
      width: general.$padding-desktop - 40px;
    }

    &::after {
      margin-right: calc(general.$padding-desktop * -1);
    }
  }

  &--additional {
    @media (min-width: general.$breakpoint-tablet) and (max-width: (general.$breakpoint-desktop - 1)) {
      margin-left: 40px;

      &::before {
        width: general.$padding-tablet;
      }

      &::after {
        margin-right: calc(general.$padding-tablet * -1);
      }
    }
  }
}
